{
    "arrowParens": "always",
    "singleQuote": true,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "printWidth": 180,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "semi": false
            }
        }
    ]
}
